<html>  
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Express handlebars</title>
  </head>
  <body>
    {{{body}}}
    <!-- <script src="/socket.io/socket.io.js"></script>
    <script>
      console.log('calling console');
        var socket = io();
    </script> -->
  </body>
</html>  